<!DOCTYPE html>
 <html>
     <head>
      <link rel="stylesheet" type="text/css" 
      href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
      <title>FoodSlayr</title>
      <!--logo source and alt text-->
      <img src="http://img05.deviantart.net/f75b/i/2016/023/4/5/simplelogofoodslayrcolour_by_kuroko_kun-d9p1h7d.png" alt="FoodSlayr" style="float:left; width:18em;height:20em">
    </head> 
    <body>
		<div class="row">
		  <h1 class="col-md-12 text-center">One picture, <em>thousands</em> of recipes</h1>
		</div>
		<div>
      <p>
        Welcome to FoodSlayr! Take a picture of your raw ingredients and upload it to find related recipes.
      </p>
		</div>
		<div class = "upload">
			<p>Upload your picture <strong>here</strong></p>
			<!-- enable file_uploads on php.ini -->
			<form name = "uploadImage" method = "post" action = "upload.php>" enctype="multipart/form-data">
			<input type="file" name="foodPicture"> <br>
			</form>
		</div>
		<div>
			<button form = "uploadImage"><em><strong>GO!</strong></em></button>
		</div>



		<!-- <div class="container">
			<img src="https://jamieoliverprod.s3.amazonaws.com/recipe-database/recipe_single/D_boQxoX4jb8IHr98O-jcL.jpg"/>
			<p><em>Ingredients:<em></p>
			<ul>
	 			<li>1 tablespoon unsalted peanuts</li>
			</ul>

			<p>Procedures:</p>
			<p style="font-size: 2em">Lightly toast the peanuts in a dry frying pan, then crush in a pestle and mortar and put aside. Peel and finely chop the garlic and ginger. Put 1 tablespoon of sesame oil and the star anise into the frying pan on a medium-high heat. Add the mince, breaking it apart with a wooden spoon, followed by half the garlic and ginger and the honey. Stir-fry for 5 minutes to crisp up and get golden brown. Meanwhile, crush the remaining garlic and ginger into a paste in the pestle and mortar, then muddle in the fish and soy sauces and lime juice to make a dressing. Cook the noodles according to the packet instructions. Trim the spring onions, then finely slice with the chilli (deseed if you like). Prep the salad veg, breaking the lettuce leaves apart and matchsticking or finely slicing any crunchy veg so it’s all a pleasure to eat.

	 		Load up your plates with that lovely salad veg, then drain and add the noodles. Spoon over the dressing, sprinkle over the crispy beef, chilli, spring onions and crushed peanuts, pick over the coriander leaves and tuck in. 
			Read more at http://www.jamieoliver.com/recipes/beef-recipes/asian-crispy-beef/#08SioQaRmQbf6ih1.99
			</p>
		</div> -->
	</body>
</html>
