<!DOCTYPE html>
 <html>
     <head>
	    <link rel="stylesheet" type="text/css" 
	    href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css">
	   	<link rel="stylesheet" href="../../css/main.css" />
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	    <title>FoodSlayr | Recipe</title>
    </head> 
    <body>
		<nav class="navbar navbar-default clearfloat">
	    	<div class="container-fluid">
	   			<div class="navbar-header">
	     			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
	     	 		</button>
	     	 		<img src="http://img05.deviantart.net/f75b/i/2016/023/4/5/simplelogofoodslayrcolour_by_kuroko_kun-d9p1h7d.png" alt="FoodSlayr" style="float:left; width:9em;height:10em">
	     			<!--<a class="navbar-brand" href="#">Brand</a>-->
	    		</div>
	    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav navbar-right">
				        <li><a href="#"><img src="../../img/facebook.png" alt="facebook-icon"></a></li>
				        <li><a href="#"><img src="../../img/twitter.png" alt="twitter-icon"></a></li>
				        <li><a href="#"><img src="../../img/youtube.png" alt="youtube-icon"></a></li>
				    </ul>
			    </div>
			</div>
		</nav>
		
		<div class="container">
			<h1 style = "text-align: center" ><u>Asian crispy beef</u></h1>
			<div class="col-md-8">
				<!-- <p style="font-size: 3em"><em>Ingredients:<em></p> -->
		    	<h3>Ingredients</h3>
				<ul>
		 			<li class="recipeIngredients">1 tablespoon unsalted peanuts</li>
				</ul>	
			</div>
			<div class="col-md-4">
				<img style="width:100%" src="https://jamieoliverprod.s3.amazonaws.com/recipe-database/recipe_single/D_boQxoX4jb8IHr98O-jcL.jpg"/>
			</div>
			
			<!-- <p style="font-size: 2em">Procedures:</p> -->
			<h3>Procedures</h3>
			<p style="font-size: 2em">Lightly toast the peanuts in a dry frying pan, then crush in a pestle and mortar and put aside.
			Peel and finely chop the garlic and ginger. <br>
			Put 1 tablespoon of sesame oil and the star anise into the frying pan on a medium-high heat. <br>
			Add the mince, breaking it apart with a wooden spoon, followed by half the garlic and ginger and the honey. <br>
			Stir-fry for 5 minutes to crisp up and get golden brown. Meanwhile, crush the remaining garlic and ginger into a paste in the pestle and mortar, then muddle in the fish and soy sauces and lime juice to make a dressing. <br>
			Cook the noodles according to the packet instructions. <br>
			Trim the spring onions, then finely slice with the chilli (deseed if you like). <br>
			Prep the salad veg, breaking the lettuce leaves apart and matchsticking or finely slicing any crunchy veg so it's all a pleasure to eat. <br>
	 		Load up your plates with that lovely salad veg, then drain and add the noodles. <br>
	 		Spoon over the dressing, sprinkle over the crispy beef, chilli, spring onions and crushed peanuts, pick over the coriander leaves and tuck in. <br>
			Read more at http://www.jamieoliver.com/recipes/beef-recipes/asian-crispy-beef/#08SioQaRmQbf6ih1.99
			</p>
		</div>
	</body>
</html>