<!DOCTYPE html>
<html>
    <head>
        <title>Food Slayr | Search Results</title>
        <link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
        <img src="http://img05.deviantart.net/f75b/i/2016/023/4/5/simplelogofoodslayrcolour_by_kuroko_kun-d9p1h7d.png" alt="FoodSlayr" style="float:left; width:18em;height:20em">
    </head>
    <body>
        <div class="recipePreview">
            <div class = "recipeTitle">
                <h1>Title of Recipe</h1>
            </div>
            <div class = "recipeImage">
                <img src="something.com">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare risus id lacus sollicitudin congue. Phasellus sit amet pellentesque sapien. Vivamus velit odio, pretium id tellus et, porttitor commodo turpis. Vestibulum aliquet laoreet massa, et fringilla nisi ullamcorper laoreet. Aliquam mauris lacus, finibus et luctus non, egestas sed massa. Donec. </p>
        </div>
    </body>
</html>
