<div ng-if="details.name" class="container">
  <div class="row text-center">
    <h1 class="col-md-12">{{ details.name }}</h1>
  </div>
  <div class="row">
    <img class="col-md-offset-10 col-md-2" 
    ng-src="{{ details.attribution.logo }}" style="height: 5em;width:15em">
  </div>
  <div class="row text-center">
    <img ng-src="{{ details.images[0].hostedLargeUrl }}">
  </div>
  <div class="row">
    <h3 class="col-md-offset-2 col-md-8">Ingredients</h3>
  </div>
  <div class="row">
    <h5 class="col-md-offset-2 col-md 8">{{ details.yield }}</h5>
  </div>
  <div class="row">
    <ul class="col-md-offset-2 col-md-8 list-group">
      <li ng-repeat="ingredient in details.ingredientLines track by $index" class="list-group-item">
        {{ ingredient }}
      </li>
    </ul>
  </div>
  <div class="row">
    <h3>
      View the Complete Recipe <a style="cursor: pointer" target="_blank"
        ng-href="{{ details.source.sourceRecipeUrl }}">Here</a> 
      <span style="font-size:0.5em">
        from {{ details.source.sourceSiteUrl }}
      </span>
    </h3>
  </div>
</div>
