.clearfloat{
	clear:both;
}
.center {
    text-align: center;
}
.btn-bigger {
    padding: 3% 20%;
    border-radius: 30px;
}
.big-text {
    font-size: 5em;
}
.bg-img {
    background: url("../img/bgimg.png");
}

.social-media>li {
    vertical-align: bottom;
}
