.clearfloat{
	clear:both;
}
.center {
    text-align: center;
}
.btn-bigger {
    padding: 3% 20%;
    border-radius: 30px;
}
.big-text {
    font-size: 5em;
}
.bg-img {
    background: url("../img/bgimg.png");
}

.social-media>li {
    vertical-align: bottom;
}
p {
	font-size:2em;
}

.recipeIngredients {
	font-size:2em;
}

.big-font {
    font-size: 3em;
}
.vertical-center {
    margin-top: 30px;
}

.recipe-card {
  display: inline-block;
  height: 20em;
  width: 15em;
}
